.main_container {
  min-height: 85vh;
  text-align: center;
}

/* Form style */
.form_style {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form_style > * {
  margin-top: 30px;
}

/* Password div */
.password_div {
  width: 200px;
  position: relative;
  transition: background 0.4s linear;
}

.password_div:hover {
  background: rgb(59, 59, 59);
}

.password_div > input {
  width: 100%;
  border: none;
  border-bottom: 3px solid black;
  background: transparent;
  outline: none;
}

.password_div > span {
  position: absolute;
  top: 0;
  left: 0;
  color: #000;
  transition: transform 0.5s linear;
}

.password_div > input:not(:placeholder-shown) + span {
  transform: translateY(-100%);
  color: #fff;
}

.password_div > input:focus + span {
  transform: translateY(-100%);
  color: #fff;
}

/* Show password button */
.show_password {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border: none;
  width: 50px;
  height: auto;
  cursor: pointer;
  transform: translateX(100%) translateY(-10px);
}

.show_password > img {
  width: 50px;
  height: auto;
}

/* Send form button */
.send_button {
  position: relative;
  width: 200px;
  height: 60px;
  border-radius: 5px;
  background: rgb(70, 70, 70);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.7s ease;
}

.send_button::before {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  width: 60px;
  height: 100%;
  top: 0;
  filter: blur(30px);
  transform: translateX(-100px) skewX(-15deg);
}

.send_button::after {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  width: 30px;
  height: 100%;
  top: 0;
  filter: blur(5px);
  transform: translateX(-100px) skewX(-15deg);
}

.send_button:hover {
  background-image: (linear-gradient(to left, #2d8fe5, #d155b8));
  cursor: pointer;
}

.send_button:hover::after,
.send_button:hover::before {
  transform: translateX(300px) skewX(-15deg);
  transition: 0.7s;
}

.send_button:hover::after {
  transform: translate(150px, -150px) rotate(35deg);
}

/* Error message */
.error_message {
  width: 20%;
  height: 100px;
  background: rgb(209, 25, 25);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
}
