.main_container {
  min-height: 85vh;
  overflow-x: auto;
}

/* Scrollbar style */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #424242;
  height: 10px;
  border-radius: 10px;
}

/* Product list summary */
.summary_product_list {
  height: 85vh;
  width: 75%;
  float: left;
}

/* Summary price */
.summary_price {
  height: 85vh;
  width: 25%;
  float: left;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
}

/* Buy button */
.buy_button {
  border-radius: 5px;
  box-shadow: 10px 10px 5px black;
  width: 75%;
  height: 75px;
  cursor: pointer;
}
