.main_container {
  min-height: 85vh;
  width: 100%;
}

.order_list {
  width: 33.33%;
  height: 85vh;
  float: left;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media only screen and (max-width: 1000px) {
  .order_list {
    height: 80vh;
    transform: translateY(5vh);
  }
}
