.main_container {
  min-height: 85vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

/* Table */
.users_table {
  width: 75%;
  height: 100%;
  overflow-y: auto;
}

/* Back arrow */
.back_arrow {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(30px, 50px);
  width: 100px;
  height: 100px;
  cursor: pointer;
  z-index: 5;
}
