.main_container {
  min-height: 85vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Table */
.users_table {
  width: 75%;
  height: 100%;
  overflow-y: auto;
}
