.tbody {
  position: relative;
}

/* Delete button */
.delete_button {
  width: 100%;
  height: 100%;
  background: rgb(187, 21, 21);
  border: none;
  cursor: pointer;
}

/* Save changes button */
.save_changes_button {
  width: 100%;
  height: 100%;
  background: rgb(187, 176, 21);
  border: none;
  cursor: pointer;
}

/* Error container */
.error_container {
  width: 200px;
  height: 100px;
  background: rgb(240, 20, 20);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 5;
  transform: translateY(25vh);
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

/* Close button */
.close_button {
  width: 20%;
  height: 30%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.close_button > span:first-child {
  width: 100%;
  height: 25%;
  background: rgba(0, 0, 0, 0.9);
  transform: translateY(100%) rotate(45deg);
}

.close_button > span:last-child {
  width: 100%;
  height: 25%;
  background: rgba(0, 0, 0, 0.9);
  transform: rotate(135deg);
}
