.main_container {
  min-height: 85vh;
}

/* Side nav */
.side_menu {
  width: 0vw;
  height: 85vh;
  float: left;
  transition: all 2s ease-in-out;
  transform: scale(0);
}

.side_menu.active {
  width: 25%;
  transition: all 2s ease-in-out;
  transform: scale(1);
}

/* Main panel */
.main_panel {
  position: relative;
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  float: left;
  transition: all 2s ease-in-out;
}

.main_panel.active {
  width: 75%;
  height: 85vh;
  transition: all 2s ease-in-out;
}

/* Show menu button */
.show_menu_button {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background: transparent;
  transform: translate(30px, 50px);
  cursor: pointer;
  border: none;
  transition: transform 1.5s linear;
}

.show_menu_button.active {
  transform: rotate(180deg);
}
