.main_container {
  min-height: 85vh;
  position: relative;
}

/* Container auction */
.auction_main_container {
  height: 85vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
}

/* Back arrow */
.back_arrow {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-200px, -50px);
  width: 100px;
  height: 100px;
  cursor: pointer;
  z-index: 5;
}

@media only screen and (max-width: 1000px) {
  .back_arrow {
    left: auto;
    right: 0;
    transform: translate(0, -50px);
    width: 100px;
    height: 50px;
  }
}
