/* Send button */
.send_button {
  padding: 15px;
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  background: rgb(71, 71, 71);
}

/* Form */
.form_panel {
  position: relative;
  width: 50%;
  min-height: 85vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  float: left;
}

/* Input in form panel */
.form_panel > label {
  width: 30%;
  height: 100px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form_panel input {
  width: 100%;
  margin: 10px 0;
  border-radius: 6px;
}

/* Message */
.good_message {
  z-index: 5;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 10px;
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  background: green;
}

.error_message {
  z-index: 5;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 10px;
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  background: red;
}

@media only screen and (max-width: 1000px) {
  .form_panel {
    width: 100%;
  }
}
