.navigation {
  width: 100%;
  height: 100%;
  background: transparent;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation_list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.navigation_element {
  position: relative;
  list-style-type: none;
}

.navigation_element::after {
  content: "";
  width: 100%;
  height: 3px;
  bottom: -3;
  left: 0;
  position: absolute;
  display: block;
  background: black;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.navigation_element:hover::after {
  transform: scaleX(1);
}

.navigation_link,
.navigation_element > p {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
  font-size: 1.2rem;
}

/* Products list in navigation */
.main_list {
  display: none;
}

.main_element_list:hover > .main_list,
.main_list:hover {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
  background-color: rgb(73, 73, 73);
  width: 200px;
  height: 300px;
  border: 1px solid black;
  z-index: 5;
}

.main_list > li {
  list-style-type: none;
  margin-top: 30px;
  width: 100%;
}

/* Mobile menu */

.button_mobile {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
}

.button_mobile > span:first-child,
.button_mobile > span:nth-child(2),
.button_mobile > span:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 20%;
  background: #000;
  margin-top: 10%;
  transition: transform 1s linear;
}

@media only screen and (max-width: 1000px) {
  .button_mobile {
    display: block;
    z-index: 6;
  }

  /* Animation close/show menu button */
  .button_mobile.active > span:first-child {
    transform: translateY(-100px);
  }

  .button_mobile.active > span:last-child {
    transform: translateY(-150%) rotate(45deg);
  }

  .button_mobile.active > span:nth-child(2) {
    transform: rotate(-45deg);
  }

  .navigation_list {
    transform: translateY(-300%);
    transition: transform 2s linear;
  }

  .navigation_list.active {
    transform: translateY(0);
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100%;
    z-index: 5;
  }

  .main_element_list:hover > .main_list,
  .main_list:hover {
    justify-content: unset;
    width: 300px;
    height: 200px;
    transform: translate(-100px, 50px);
    overflow-y: scroll;
  }
}
