.navigation {
  width: 70%;
  height: 100%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation_list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.navigation_element {
  position: relative;
  list-style-type: none;
}

.navigation_element::after {
  content: "";
  width: 100%;
  height: 3px;
  bottom: -3;
  left: 0;
  position: absolute;
  display: block;
  background: black;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.navigation_element:hover::after {
  transform: scaleX(1);
}

.navigation_link,
.navigation_element > p {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
  font-size: 1.2rem;
}

/* Products list in navigation */

.navigation_element > p:hover,
.navigation_element > ul:hover ~ p {
  display: none;
}

.navigation_element > p:hover ~ ul,
.navigation_element > ul:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navigation_element > ul {
  width: 150vw;
  height: 400px;
  display: none;
  margin-top: 100px;
  font-size: 1.2rem;
  color: #fff;
  background: #313031;
}

.navigation_element > ul:hover > li {
  display: block;
  color: white;
  font-size: 1.2rem;
}
