.form_to_add_auction_type {
  width: 50%;
  height: 85vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  float: left;
}

/* Label style */
.label_in_form {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

/* Add type button */
.add_type_button {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 10px 5px 10px #000;
}

/* Error message */
.error_message_div {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 50%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(182, 7, 7);
  border-radius: 6px;
  display: none;
}

.error_message_div.active {
  display: flex;
}

/* Close button */
.close_button {
  position: absolute;
  left: 0;
  top: 0;
  width: 15%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.close_button > span:first-child {
  width: 100%;
  height: 25%;
  background: #000;
  transform: translateY(100%) rotate(45deg);
}

.close_button > span:last-child {
  width: 100%;
  height: 25%;
  background: #000;
  transform: rotate(135deg);
}
